button.coral-RichText-toolbar-item.coral-Icon.x-html-editor-tb.x-edit-touchblockquote{
    background-image:url(/apps/aemtoolbox/widgets/RTEBlockquotePlugin/img/blockquote.png);
    background-position: center;
    background-repeat: no-repeat;
}

button.coral-RichText-toolbar-item.coral-Icon.x-html-editor-tb.x-edit-touchulinedblockquote{
    background-image:url(/apps/aemtoolbox/widgets/RTEBlockquotePlugin/img/introduction.png);
    background-position: center;
    background-repeat: no-repeat;
}

button.coral-RichText-toolbar-item.coral-Icon.x-html-editor-tb.x-edit-touchlinedblockquote{
    background-image:url(/apps/aemtoolbox/widgets/RTEBlockquotePlugin/img/lined-blockquote.png);
    background-position: center;
    background-repeat: no-repeat;
}