#CQ .x-html-editor-tb .x-edit-blockquote{
	background-image: url(/apps/aemtoolbox/widgets/RTEBlockquotePlugin/img/blockquote.png);
	background-position: 1px 2px;
}
#CQ .x-html-editor-tb .x-edit-linedblockquote{
    background-image: url(/apps/aemtoolbox/widgets/RTEBlockquotePlugin/img/lined-blockquote.png);
    background-position: 1px 2px;
}
#CQ .x-html-editor-tb .x-edit-ulinedblockquote{
    background-image: url(/apps/aemtoolbox/widgets/RTEBlockquotePlugin/img/introduction.png);
    background-position: 1px 2px;
}